/.DS_Store
/Data_Analysis/Analysis_Edinburgh
/Data_Analysis/sample_prosody.csv
/Data_Analysis/sample_prosody_pca.csv
/Data_Analysis/sample_embedding1.csv
/Data_Analysis/sample_embedding2.csv
/Data_Analysis/sample_embedding3.csv
/Data_Analysis/sample_embedding4.csv
/Data_Analysis/sample_embedding5.csv
/Data_Analysis/sample_label.csv
/corpus_Edinburgh
/model_source_code